body { 
  font-family: Arial, sans-serif; 
  font-size: 16px;
  line-height: normal;
}

.header {  
  padding: 1em;
  margin:-7px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: #F5F7F7;
  opacity: .95;
}

.logo{
  height: 4em;
  width: auto;
}

.nav { 
  margin-left: 1.25em;
  padding: 1em;
  align-items: center;
  display: flex;
}

.nav ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

.nav li { 
  display: inline; 
  margin-right: 1em;
}

.nav li.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 10em;
  box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
}

a{
  color: inherit;
  text-decoration: none; 
}

.nav li.dropdown:hover .dropdown-content {
  display: block;
}

.nav2{
  display: flex;
  align-items: center;
  margin-right: 3em;
}

.nav2 ul{
  list-style-type: none; 
}

.nav2 li{
  display:inline;
  margin-right: 1em;
}

.order_button{
  height: 4em;
  width: 10em;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
}

button{
  border-radius: 5px;
  background-color: #DA291C;
}

.main-content { 
  text-align: center; 
  padding: 1em;
}

.New-Sauce {
  margin-top:200px;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  padding: 1em;
}

.sauce-promotion-text{
  justify-content: space-around;
  text-align:center;
  margin: 1em;
}

.sauce-promotion-text h1{
  font-size: 3.125em;
}

.sauce-promotion-text p{
  font-size: 1.25em;
}

.new_sauce_img {
  width: 60%;
  object-fit: cover; 
  height: auto;
  border-radius: 0.3125em;
}

.big-mac-promotion-container {
  margin-top:50px;
  background-color: #ffffff;
  padding: 1em;
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
}

.big-mac-title {
  color: #DA291C;
  font-size: 2.5em;
  font-weight: bold;
  margin: 1.25em 0;
}

.big-mac-image {
  width: 60%;
  height: auto;
}

.promotion-text p {
  color: #000000;
  margin: 1.25em 0;
  font-size: 0.625em;
}

.big-mac-deal {
  font-size: 1.25em;
  margin: 0.625em 0;
}

.small-print {
  font-size: 0.875em;
}

.big-mac-button {
  background-color: #DA291C;
  color: #ffffff;
  padding: 1em;
  font-size: 1em;
  border: none;
  cursor: pointer;
}

.burger-promotion-container {
  margin: 75px;
  background-color: #ffffff;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-image {
  max-width: 50%;
  height: auto;
}

.burger-promotion-text {
  color: #000;
  margin-left: 1em;
}

.burger-promotion-text h2 {
  color: #DA291C;
  font-family: 'Arial', sans-serif;
}

.burger-promotion-text p {
  font-family: 'Arial', sans-serif;
}

.small-print {
  font-size: 0.875em;
}

.burger-button {
  background-color: #DA291C;
  color: #ffffff;
  padding: 0.625em 1.25em;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin-top: 1.25em;
  font-family: 'Arial', sans-serif;
}

.shamrock-promotion-container{
  margin-top: 75px;
  padding:1em;
  display:flex;
  align-items: center;
}

.shamrock-promotion-text{
  font-family: 'Arial', sans-serif;
  text-align: end;
}


.shamrock-image{
  width:60%;
}

.join-our-team{
  margin-top: 90px;
  padding:1em;
  display:flex;
  align-items: center;
}

.team-promotion-text{
  font-family: 'Arial', sans-serif;
  text-align: end;
  margin-left:7.5%;
}


.worker-image{
  width:45%;
  height: auto;
  margin-left: 5%;
  margin-right:7.5%;
}

.language-switcher {
  position: fixed;
  bottom: 1.25em;
  right: 1.25em;
  z-index: 1000;
}

.language-switcher button {
  background-color: #DA291C;
  color: #ffffff;
  border: none;
  padding: 0.625em 1.25em;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1.25em;
  opacity:.75;
}

footer {
  color: #333; 
  font-family: Arial, sans-serif; 
  padding: 20px 0; 
  font-size: 14px; 
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-nav, .footer-info {
  display: flex;
  gap: 20px; 
  margin-bottom: 10px; 
}

.footer-rights {
  text-align: center; 
  margin-top: 10px; 
}
