body { 
  font-family: Arial, sans-serif; 
}
.header {  
  padding: 10px; 
  display: flex;
  width:100%;
  align-items: center;
  justify-content:space-between;
}
.logo{
  height:60px;
  width: auto;
}
.nav { 
  padding: 10px; 
  align-items: center;
  display: flex;
}
.nav ul { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
.nav li { 
  display: inline; 
  margin-right: 10px; 
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #000;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.nav2{
  display: flex;
  align-items: center;
}
.nav2 ul{
  list-style-type: none; 
}
.nav2 li{
  display:inline;
  margin-right: 10px;
}
.order_button{
  height: 75px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DA291C;
  color: #ffffff;
  padding: 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}
.main-content { 
  text-align: center; 
  padding: 20px; 
}
.footer { 
  background-color: #333; 
  color: white; 
  text-align: center; 
  padding: 10px; 
}

.promotion-container {
  background-color: #FFC72C;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.big-mac-title {
  color: #ffffff;
  font-size: 72px;
  font-weight: bold;
  margin: 20px 0;
}

.big-mac-image {
  max-width: 100%;
  height: auto;
}

.promotion-text p {
  color: #000000;
  margin: 20px 0;
}

.big-mac-deal {
  font-size: 32px;
  margin: 10px 0;
}

.small-print {
  font-size: 18px;
}

.big-mac-button {
  background-color: #DA291C;
  color: #ffffff;
  padding: 20px;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.burger-promotion-container {
  background-color: #ffffff; /* Adjust the background color as needed */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-image {
  max-width: 50%; /* Adjust the width as needed */
  height: auto;
}

.burger-promotion-text {
  color: #000;
  margin-left: 20px;
}

.burger-promotion-text h2 {
  color: #DA291C; /* McDonald's red color */
  font-family: 'Arial', sans-serif;
}

.burger-promotion-text p {
  font-family: 'Arial', sans-serif;
}

.small-print {
  font-size: 14px; /* Adjust the size as needed */
}

.burger-button {
  background-color: #DA291C;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}
.language-switcher {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

